.card {

    display: inline-block;

    margin: 10px;

    border: 1px solid #eee;

    box-shadow: 0 2px 2px #ccc;

    width: 300px;

}
img {
   max-width: 200px;
    height: 300px;
}
.title_name {
    font-size: 16px;
    font-weight: normal;
}